MONGO_KEY=mongodb+srv://student:student123@cluster0.9u9vdeq.mongodb.net/admin?retryWrites=true&loadBalanced=false&replicaSet=atlas-a2gg7w-shard-0&readPreference=primary&srvServiceName=mongodb&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-1