{Add your connection string to MongoDB Atlas}

URI_DB=mongodb+srv://<DB_USER>:<DB_USER_PASS>@cluster0.qtb4n.mongodb.net/<DB_NAME>?retryWrites=true&w=majority
/*
DB_USER= {user name}
DB_USER_PASS= {user password}
DB_NAME= {db's name}
*/
//---------------
JWT_SECRET_KEY={ secret key to sign the token}
