URI_DB={Add your connection string MongoDB Atlas}
JWT_SECRET_KEY=
UPLOAD_DIR=
FOLDER_FOR_AVATARS=
CLOUD_NAME=https://cloudinary.com/
API_KEY=https://cloudinary.com/
API_SECRET=https://cloudinary.com/
