<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add a new contact to Contacts list -!! NOT IMPLEMENTED YET !!</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Add a new contact to Contacts list</h1>
            <form action="/team_name_url/" method="post">
                <label for="contact_name">Enter name: </label>
                <input id="contact_name" type="text" name="name_field">
                <label for="contact_email">Enter email: </label>
                <input id="contact_email" type="email" name="email_field">
                <label for="contact_phone">Enter phone number: </label>
                <input id="contact_phone" type="text" name="phone_field">

                <input type="submit" value="OK">
            </form>

        </div>
    </main>

    <footer>
        <p class="text-center text-muted">© Copyright 2021 GoIT -= Artowod=-</p>
    </footer>

</body>

</html>