<!DOCTYPE html>
<html>

<head>
    <title>Home Task 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Welcome to the main page of HT 2</h1>
    <h2>
        <%= description %>
    </h2>
</body>

</html>