<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <figure>
      <img
        alt="this is your avatar"
        src="/images/<%= imgPath %>"
        width="256"
        height="256"
      />
      <figcaption>You're bjutiful</figcaption>
    </figure>
  </body>
</html>
