extends layouts/main

block content
    tr
        td.wrapper
            p Hi, #{name}
            p You are receiving this email because you have requested to recover access to your account. 
            p To complete the recovery process, please use the following token:
            table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
                tbody
                    tr
                        td(align="left")
                            table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                                tbody
                                    tr
                                        td
                                            a(href= url, target="_blank") Password reset link
            p Please enter this token on the appropriate access recovery page. 
            p If you did not request access recovery, please disregard this message.
            p Good luck! Hope it works.
